<!DOCTYPE html>
<html lange="ko">
    <head>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    </head>
    
    <body>
        <div class="d-flex flex-column mb-3">
            <div class="p-2 border"><h2>새 글 작성</h2></div>
            <div class="p-2">
                <div class="mb-3">
                    <label for="title" class="form-label">제목</label>
                    <input type="text" class="form-control" id="title"/>
                </div>
            </div>
            <div class="p-2 border">
                <textarea id='form' class="form-control" rows="10"></textarea>
            </div>
            <div class="p-2">
                <button id="create" type="button" class="btn btn-secondary float-end">등록</button>
            </div>
        </div>
    </body>
</html>
<script>
    var createBtn = document.getElementById("create");

    createBtn.addEventListener('click', function() {
        var title = document.getElementById('title').value;
        var form = document.getElementById('form').value;

        fetch("/memo", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ 'title': title, 'form': form }),
        })
        .then((result) => {return result.text();})
        .then((data) => {
            if(data == 'success') {
                opener.parent.location.reload();
                close();
            }
        });
    });
</script>