<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="d-flex flex-column mb-3">
            <div class="p-2 border-bottom">
                <h2 class="float-start"><%=title %></h2>

                <span class="float-end">
                    <button id="update" value=<%=seq %> type="button"  class="btn btn-secondary">수정</button>
                    <button id="delete" value=<%=seq %> type="button"  class="btn btn-secondary">삭제</button>
                </span>
            </div>
            <div class="p-2">
                <p style="white-space: pre-line;"><%=body %></p>
            </div>
        </div>
    </body>
</html>
<script>
    var deleteBtn = document.getElementById('delete');
    var seq = deleteBtn.getAttribute('value');

    deleteBtn.addEventListener('click', function() {
        if(confirm('삭제하시겠습니까?')) {
            fetch('/memo/' + seq, {
                method: 'DELETE',
            })
            .then((res) => (res.text()))
            .then((data) => {
                opener.parent.location.reload();
                close();
            });
        }
    });

    $("#update").on('click', function() {

    });
</script>