<div class="p-2 border-end" style="width:20%;height:100vh;">
    <div class="border-bottom">
        <h5 class="text-center mt-1">Junnnhhh</h5>
    </div>

    <ul class="nav nav-pills flex-column mt-2 p-3">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Memo</a>
        </li>
    </ul>
</div>
