<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand">Memo</a>
        <% if(page == 'list') { %>
        <button id="createBtn" type="button" class="btn btn-secondary">메모생성</button>
        <% } %>
        <% if(page == 'create') { %>
        <button id="saveBtn" type="button" class="btn btn-secondary">메모저장</button>
        <% } %>
        <% if(page == 'memo') { %>
        <span class="float-end">
            <button id="update" value=<%=seq %> type="button"  class="btn btn-secondary">수정</button>
            <button id="delete" value=<%=seq %> type="button"  class="btn btn-secondary">삭제</button>
        </span>
        <% } %>
    </div>
</nav>